html{
  scroll-behavior: smooth;
}

body{
  margin: 0px;
}

body h2{
  text-align: center;
  color: orangered;
  font-size: 50px;
}

.navigation-bar{
  position: fixed;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navigation-bar-logo{
  width: 25px;
  height: 25px;
}

.navigation-links{
  width: 50vw;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-links a{
  text-decoration: none;
  color: White;
  border-bottom: 2px solid transparent;
  transition: all 225ms ease-in-out;
}

.navigation-links a:hover {
  border-bottom: 2px solid White;
  transition: all 225ms ease-in-out;
}

#phone-button{
  border: 5px solid White;
  border-radius: 5px;
  background-color: Red;
  padding: 5px;
}

.header{
  position: relative;
  background-color: #cccccc;
  position: center;
  object-fit: cover;
}

.header-image{
  
}

.header-content{
  text-align: center;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.header-content h1{
  font-size: 80px;
  line-height: 0;
}

.header-content p{
  font-size: 18px;
  line-height: 0;
}

.order{
  height: 300px;
  color: orangered;
  padding: 40px;
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}

.order-child{
  width: 100%;
  height: 300px;
  color: Black;
  font-style: bold;
  font-size: 30px;
  text-align: center;
}

#menu-bg{
  position: relative;
  background-image: url(http://mihai-andrei-neacsu.developerakademie.com/sakura-ramen-website/img/menu-bg.png);
  background-color: #cccccc;
  background-position: center;
  height: 1400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-list{
  padding: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.menu{
  padding:10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu table{
  width: 50%;
  font-size: 30px;
  line-height: 40px;
}

.menu table caption{
  text-align: left;
}

#info{
  line-height: 0px;
}

#footer{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo{
  color: red;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-buttons{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
